---
import ejes from '../assets/eje.jpg'
import suspen from '../assets/suspen.jpeg'
---

<section class="product-brief" id="features">
  <div class="container">
    <!-- Feature Two -->
    <div class="row product-brief-items">
      <div class="brief-media center one-half column">
        <img src={ejes} class="md-width">
      </div>
      <div class="brief-tab one-half column">
        <h3 class="h2-title">Osie</h3>
        <p class="m-paragraph m-margin">Oferujemy szeroki wybór osi do ciężarówek, które są niezawodne, trwałe i dostosowane do różnych potrzeb transportowych.</p>
      </div>
    </div>

    <!-- Feature One -->
    <div class="row product-brief-items">
      <div class="brief-tab one-half column">
        <h3 class="h2-title">Zawieszenia</h3>
        <p class="m-paragraph m-margin">Nasze zawieszenia gwarantują płynną i bezpieczną jazdę, niezależnie od obciążenia czy warunków drogowych.</p>
      </div>
      <div class="brief-media center one-half column">
        <img src={suspen} class="md-width">
      </div>
    </div>
  </div>
</section>

<style lang="scss">
.product-brief {
  background-color: var(--tenary);
  padding: 20px 0;

  .product-brief-items {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .brief-tab {
      padding: 10px;
      .h2-title{
        color:red;
      }
    }

    .brief-media {
      height: 340px;
      position: relative;
      overflow: hidden;
      background-color: #f2f5f9;
      padding-top: 40px;
    }
  }

  @media (max-width: 700px) {
    .product-brief-items {
      flex-direction: column;

      .brief-tab {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }
}
</style>